{{#each this}}
<li class="library-list-item">
    <img class="library-list-item-img" src="http://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" />
    <p class="library-list-item-rating">{{vote_average}}</p>
    <h2 class="library-list-item-title">{{title}} ({{year}})</h2>
</li>
{{/each}}